@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;500&display=swap");
:root {
  --main-color: rgb(253, 192, 23);
  --main-emcolor: rgb(255, 225, 151);
  --main-bgcolor: rgb(7, 24, 36);
}

@media screen and (max-width: 1300px) {
  body {
    margin: 0px 6%;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 300;
    color: var(--main-color);
    background-color: var(--main-bgcolor);
  }
}
@media screen and (min-width: 1300px) {
  body {
    margin: 0px 12%;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 300;
    color: var(--main-color);
    background-color: var(--main-bgcolor);
  }
}
header {
  min-width: 900px;
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--main-bgcolor);
  z-index: 5;
  height: 90px;
  transition: all 0.6s ease;
}
header div#logo {
  width: 60%;
  min-width: 360px;
}
header div#logo h1 {
  font-family: "Noto Serif TC", serif;
  margin-left: 45px;
  font-weight: bolder;
  color: var(--main-color);
}
header div#menu {
  width: 40%;
  min-width: 600px;
}
header div#menu ul {
  display: flex;
  margin: 34px 30px;
  justify-content: space-around;
  color: var(--main-color);
}
header div#menu ul li {
  list-style-type: none;
}
header div#menu ul li a {
  color: var(--main-color);
  font-weight: 300;
  text-decoration: none;
  transition: all 0.2s ease;
}
header div#menu ul li a:hover {
  font-size: 1.2rem;
  color: var(--main-emcolor);
}
header div#menu ul li a:active {
  color: var(--main-emcolor);
}
header div#menu ul li span {
  color: var(--main-emcolor);
}

section {
  display: flex;
}
section div#center {
  width: 100%;
}
section div#center #intro_text {
  width: 320px;
  border: double 5px var(--main-color);
  border-radius: 20px;
  margin-left: 32%;
  margin-top: 23vh;
  padding: 38px;
  color: var(--main-color);
  font-size: small;
}
section div#leftSide {
  width: 55%;
  min-width: 550px;
}
section div#leftSide #intro_text {
  margin: auto;
  margin-top: 17vh;
  margin-left: 80px;
  color: var(--main-color);
  font-size: small;
}
section div#leftSide img {
  margin-top: 45px;
  margin-left: 62px;
  width: 430px;
}
section div#rightSide {
  width: 45%;
  min-width: 420px;
}
section div#rightSide img {
  float: right;
  margin-top: 45px;
  margin-right: 62px;
  width: 430px;
}
section div#rightSide div.S_intro_box {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  margin-right: 64px;
  margin-bottom: 60px;
}
section div#rightSide div.S_introSkill_box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 64px;
  text-align: center;
}
section div#rightSide div.S_introSkill_box div.skill {
  line-height: 1.8rem;
  min-width: 30px;
  border-radius: 2px;
  border: solid 1px var(--main-color);
  transition: all 0.2s ease;
}
section div#rightSide div.S_introSkill_box div.skill:hover {
  line-height: 1.8rem;
  min-width: 30px;
  border-radius: 2px;
  color: var(--main-bgcolor);
  font-weight: 500;
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
  transform: scale(1.2) translateY(-10px);
}
section div#rightSide div.S_introSkill_box div.certification {
  line-height: 1rem;
  width: 22%;
  padding: 8px 3px;
  border-radius: 2px;
  border: solid 1px var(--main-color);
  transition: all 0.2s ease;
}
section div#rightSide div.S_introSkill_box div.certification:hover {
  line-height: 1rem;
  width: 22%;
  padding: 8px 3px;
  border-radius: 2px;
  color: var(--main-bgcolor);
  font-weight: 500;
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
  transform: scale(1.2) translateY(-10px);
}
section div#bottomside {
  width: 100%;
  min-height: 70vh;
  min-width: 800px;
}
section div#bottomside div.S_introExp_box {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}
section div#bottomside div.S_introExp_box div.session {
  padding: 0px;
  opacity: 0.6;
  transition: all 0.5s ease;
}
section div#bottomside div.S_introExp_box div.session p {
  padding: 0px 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: small;
}
section div#bottomside div.S_introExp_box div.session p.sub {
  font-size: x-small;
}
section div#bottomside div.S_introExp_box div.session hr {
  height: 1.5px;
  border: none;
  width: 100%;
  background-color: var(--main-color);
  transition: all 0.2s ease;
}
section div#bottomside div.S_introExp_box div.session:hover {
  transform: translate(0, -20px);
  padding: 0px;
  opacity: 1;
}
section div#bottomside div.S_introExp_box div.session:hover p {
  font-weight: bolder;
  font-size: 15px;
}
section div#bottomside div.S_introExp_box div.session:hover p.sub {
  font-size: 12px;
}
section div#bottomside div.S_introExp_box div.session:hover hr {
  height: 50px;
}
section div#work {
  width: 100%;
}
section div#work div#categoryBar {
  min-width: 900px;
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
}
section div#work div#categoryBar div.category {
  margin-top: 26vh;
  border: dashed 2px var(--main-color);
  border-radius: 12px;
  width: 150px;
  height: 150px;
  text-align: center;
  opacity: 0.6;
  transition: all 0.2s ease;
  transform: translateY(0px) scale(1);
}
section div#work div#categoryBar div.category i {
  animation: breathe 1s linear 0s alternate infinite;
  margin-top: 29px;
  font-size: 55px;
}
section div#work div#categoryBar div.category p {
  animation: breathe 1s linear 0.1s alternate infinite;
}
section div#work div#categoryBar div.category div.amount {
  margin-top: 55px;
  display: flex;
  justify-content: center;
}
section div#work div#categoryBar div.category div.amount div.point {
  margin-left: 5px;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.2s ease 0.1s;
}
section div#work div#categoryBar div.category:hover {
  transform: translateY(-10px) scale(1.4);
  border-radius: 60px;
  opacity: 1;
}
section div#work div#categoryBar div.category:hover > div.amount > div.point {
  opacity: 1;
  transform: translateY(0px);
  box-shadow: 0 0 5px #fff;
}
section div#work div#categoryBar div.category:hover > i {
  text-shadow: 0 0 5px rgb(250, 229, 177);
}
section div#work div#categoryBar div.category:hover > p {
  text-shadow: 0 0 3px rgb(250, 229, 177);
  animation-play-state: paused;
}
section div#work div.tag {
  height: 20vh;
}
section div#work .workbox {
  margin: auto;
  width: 100%;
  min-width: 900px;
  min-height: 85vh;
}
section div#work .workbox div.image_container {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}
section div#work .workbox div.image_container img {
  width: 100%;
  transition: all 0.5s ease;
}
section div#work .workbox div.image_container:hover > img {
  transform: scale(1.1);
}
section div#work .workbox div.subbox {
  min-width: 100%;
  min-height: 100vh;
}
section div#work .workbox div.subbox div.intro {
  height: 70%;
  display: flex;
  margin-bottom: 5px;
}
section div#work .workbox div.subbox div.intro div.intro_pic {
  width: 60%;
  border-radius: 10px;
  overflow: hidden;
}
section div#work .workbox div.subbox div.intro div.intro_pic img {
  width: 100%;
  transition: all 0.3s ease;
}
section div#work .workbox div.subbox div.intro div.intro_pic:hover > img {
  transform: scale(1.2);
}
section div#work .workbox div.subbox div.intro div.intro_text {
  padding: 24px;
  font-weight: 300;
  line-height: 30px;
  width: 40%;
}
section div#work .workbox div.subbox div.pictures {
  min-width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section div#work .workbox div.subbox div.pictures div.picture_container {
  margin-top: 10px;
  border-radius: 10px;
  width: 12vw;
  height: 12vw;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0.2;
  transform: translateY(0px) scale(1);
}
section div#work .workbox div.subbox div.pictures div.picture_container img {
  width: 100%;
  transition: all 0.5s ease;
}
section div#work .workbox div.subbox div.pictures div.picture_container:hover {
  border-radius: 30px;
  opacity: 1;
  transform: translateY(-35px) scale(1.2);
}
section div#work .workbox div.subbox div.pictures div.picture_container:hover > img {
  transform: scale(1.2);
}
section div#work .workbox .artbox {
  height: 70vh;
  margin: 0 0 5rem 0;
}
section div#work .workbox .artbox .art_intro {
  height: 100%;
  display: flex;
  margin-bottom: 5px;
}
section div#work .workbox .artbox .art_intro .art_intro_text {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 55%;
}
section div#work .workbox .artbox .art_intro .art_intro_text .title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
section div#work .workbox .artbox .art_intro .art_intro_text .title span {
  font-size: 0.7rem;
}
section div#work .workbox .artbox .art_intro .art_intro_text .subtitle {
  color: var(--main-emcolor);
  font-size: 0.7rem;
  margin-bottom: 2rem;
}
section div#work .workbox .artbox .art_intro .art_intro_text .subtitle span {
  font-size: 0.1rem;
}
section div#work .workbox .artbox .art_intro .art_intro_text .context {
  width: 70%;
  opacity: 0.7;
  color: var(--main-emcolor);
  font-size: 0.8rem;
}
section div#work .workbox .artbox .art_intro .art_intro_pics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 9%;
}
section div#work .workbox .artbox .art_intro .art_intro_pics div.picture_container {
  border-radius: 10px;
  width: 124px;
  height: 124px;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0.3;
  transform: translateY(0px) scale(1);
}
section div#work .workbox .artbox .art_intro .art_intro_pics div.picture_container img {
  width: 100%;
  transition: all 0.5s ease;
}
section div#work .workbox .artbox .art_intro .art_intro_pics div.picture_container:hover {
  border-radius: 20px;
  opacity: 1;
  transform: translateY(-5px) scale(1.6);
  z-index: 5;
  box-shadow: -2px 2px 6px #000;
}
section div#work .workbox .artbox .art_intro .art_intro_pics div.picture_container:hover > img {
  transform: scale(1.1);
}
section div#work .workbox .artbox .art_intro .art_intro_pic {
  margin-right: 2rem;
  text-align: right;
  width: 36%;
  height: 100%;
  overflow: hidden;
}
section div#work .workbox .artbox .art_intro .art_intro_pic img {
  height: 100%;
  transition: all 0.6s ease;
}
section div#work .workbox .artbox .art_intro .art_intro_pic:hover > img {
  transform: scale(1.2);
}
section div#work iframe {
  width: 100%;
  height: 60vh;
}
section div#work h3 {
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  text-align: right;
}
section div#work a {
  color: var(--main-color);
  text-decoration: none;
}
section div#work .btn_top {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 20px;
  border: solid 1px;
  margin-bottom: 60px;
  transition: all 0.5s ease;
}
section div#work div.btn_top:hover {
  font-weight: 500;
  background-color: var(--main-color);
  color: var(--main-bgcolor);
}

.en_Font {
  font-size: small;
}

.small_Font {
  font-size: 3px;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgb(97, 97, 97);
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes breathe {
  from {
    transform: scale(1) translateY(0);
  }
  to {
    transform: scale(1.1) translateY(-1px);
  }
}/*# sourceMappingURL=style.css.map */